@import url("https://fonts.googleapis.com/css?family=Karla:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700");

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8E8D8A;
    background-color: #EAE7DC;
}

/* ----------------------------- Special paddings/ margins/ headings ----------------------------- */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: "Karla", sans-serif;
    color: #000;
}

.general-sub {
    padding-top: 10px;

}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    margin-bottom: 20px;
}

/* ----------------------------- Logo ----------------------------- */

.container-fluid {
    margin: 0;
    padding: 0;
}

header {
    background-color: #D8C3A5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 50px;
    height: 50px;
}

/* ----------------------------- Buttons ----------------------------- */

.btn-primary {
    background-color: #e98074;
    width: 160px;
    height: 58px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #D8C3A5;
}

.btn-icons {
  font-size: 20px;
  text-align: left;
}

/* ----------------------------- Categories ----------------------------- */

.bg-categories {
}

/* ----------------------------- Map ----------------------------- */

div#map {min-height: 360px;}

/* ----------------------------- Footer ----------------------------- */

footer {
    background-color: #D8C3A5;
    text-align: center;
    margin-top: 40px;
}

.footer-body {
    color: #000;
    font-size: 12px;
    padding-top: 10px;
}

.footer-icons {
    padding-top: 10px;
    font-size: 20px;
}